In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# python myfile.py

In [3]:
"""
This is a just a comment
"""
print("Hello, World!")

Hello, World!

# This is a heading

In [5]:
x = 5
y = "Ganesh"
print(x)
print(y)

5
Ganesh

In [11]:
x = str(40)    # x will be '3'
y = int(30)    # y will be 3
z = float(23)  # z will be 3.0

In [12]:
print(x)

40

In [13]:
type(x)

str

In [14]:
type(y)

int

In [15]:
type(z)

float

# Case Sensitive

In [16]:
a = 40
A = "Ganesh"
#A will not overwrite a

In [17]:
print(a)

40

In [18]:
print(A)

Ganesh

# A variable name must start with a letter or the underscore character

# A variable name cannot start with a number

# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [19]:
myvar = "Ganesh"
my_var = "Sunny"
_my_var = "Jack"
myVar = "Karthik"
MYVAR = "Shankar"
myvar2 = "Ameer"

In [21]:
2myvar = "Ganesh"
my-var = "Sunny"
my var = "Shankar"

SyntaxError: invalid syntax (<ipython-input-21-c96b1bcf3226>, line 1)

In [28]:
# 2my-first_name = "John"

In [22]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Output Variables

In [24]:
x = "Surya"
print("Python is " + x)

Python is Surya

In [25]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [26]:
x = 5
y = 10
print(x + y)

15

In [27]:
x = 40
y = "Ganesh"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python Data Types

Built-in Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Boolean Type:	bool

# Numerical data type

In [29]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [30]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [32]:
x = 35e3
y = 12E4
z = -87.7e100

In [33]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [34]:
print(y)

120000.0

In [35]:
print(x)

35000.0

In [36]:
x = 3+5j
y = 5j
z = -5j

In [37]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
#convert from int to float:
a = float(x)

In [ ]:
#convert from float to int:
b = int(y)

In [ ]:
#convert from int to complex:
c = complex(x)

In [ ]:
print(a)
print(b)
print(c)

In [38]:
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random number

In [39]:
import random

print(random.randrange(1, 10))

7

Casting

In [40]:
x = int(10)   
y = int(4.9) 
z = int("3")

In [41]:
x = float(11)    
y = float(3.9)  
z = float("3")   
w = float("3.1")

In [42]:
x = str("s1") 
y = str(20)  
z = str(4.0)

# Python String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [43]:
string1 = "Hello"
string2 = 'Hello'

Multiline Strings

In [44]:
a = """My name is Ganesh Selvaraj
I am from Chennai"""
print(a)

My name is Ganesh Selvaraj
I am from Chennai

In [47]:
a = "Hello, World!"
print(a[5])

,

Looping Through a String

In [48]:
for x in "Chennai":
  print(x)

C
h
e
n
n
a
i

String Length

In [ ]:
a = "Hello, World!"
print(len(a))

Check String

In [52]:
txt = "Hi! Chennai is an awesome city"
print("city" in txt)

True

In [53]:
txt = "Hi! Chennai is an awesome city"
print("cold" not in txt)

True

# Python - Slicing Strings

In [62]:
b = "Hi! Chennai is an awesome city"
print(b[4:9])

Cn

In [56]:
b = "Hi! Chennai is an awesome city"
print(b[:5])

Hello

In [57]:
b = "Hi! Chennai is an awesome city"
print(b[2:])

! Chennai is an awesome city

In [58]:
b = "Hi! Chennai is an awesome city"
print(b[-7:-2])

me ci

In [63]:
b = "Hi! Chennai is an awesome city"
print(b[4:9:2])

Cen

In [64]:
a = "Hi! Chennai is an awesome city"
print(a.upper())

HI! CHENNAI IS AN AWESOME CITY

In [65]:
a = "Hi! Chennai is an awesome city"
print(a.lower())

hi! chennai is an awesome city

In [66]:
a = "Hi! Chennai is an awesome city"
print(a.strip())

Hi! Chennai is an awesome city

In [68]:
a = " Hi! Chennai is an awesome city "
print(a.strip())

Hi! Chennai is an awesome city

In [69]:
a = " Hi! Chennai is an awesome city "
print(a.replace("Chennai", "Madurai"))

 Hi! Madurai is an awesome city

In [72]:
a = " Hi! Chennai is an awesome city "
print(a.split(" "))

['', 'Hi!', 'Chennai', 'is', 'an', 'awesome', 'city', '']

In [73]:
a = "Chennai"
b = " Madurai "
c = a + b
print(c)

Chennai Madurai

In [74]:
age = 25
txt = "My name is Sunny, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [75]:
age = 25
txt = "My name is Sunny, and I am {}"
print(txt.format(age))

My name is Sunny, and I am 25

In [76]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [77]:
txt = "We are the so-called \"Vikings\" from the north."