In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# python myfile.py

In [3]:
"""
This is a just a comment
"""
print("Hello, World!")

Hello, World!

# This is a heading

In [5]:
x = 5
y = "Ganesh"
print(x)
print(y)

5
Ganesh

In [11]:
x = str(40)    # x will be '3'
y = int(30)    # y will be 3
z = float(23)  # z will be 3.0

In [12]:
print(x)

40

In [13]:
type(x)

str

In [14]:
type(y)

int

In [15]:
type(z)

float

# Case Sensitive

In [16]:
a = 40
A = "Ganesh"
#A will not overwrite a

In [17]:
print(a)

40

In [18]:
print(A)

Ganesh

# A variable name must start with a letter or the underscore character

# A variable name cannot start with a number

# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [19]:
myvar = "Ganesh"
my_var = "Sunny"
_my_var = "Jack"
myVar = "Karthik"
MYVAR = "Shankar"
myvar2 = "Ameer"

In [21]:
2myvar = "Ganesh"
my-var = "Sunny"
my var = "Shankar"

SyntaxError: invalid syntax (<ipython-input-21-c96b1bcf3226>, line 1)