In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# python myfile.py

In [3]:
"""
This is a just a comment
"""
print("Hello, World!")

Hello, World!

# This is a heading

In [5]:
x = 5
y = "Ganesh"
print(x)
print(y)

5
Ganesh

In [11]:
x = str(40)    # x will be '3'
y = int(30)    # y will be 3
z = float(23)  # z will be 3.0

In [12]:
print(x)

40

In [13]:
type(x)

str

In [14]:
type(y)

int

In [15]:
type(z)

float

# Case Sensitive

In [16]:
a = 40
A = "Ganesh"
#A will not overwrite a

In [17]:
print(a)

40

In [18]:
print(A)

Ganesh

# A variable name must start with a letter or the underscore character

# A variable name cannot start with a number

# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

# Variable names are case-sensitive (age, Age and AGE are three different variables)

In [19]:
myvar = "Ganesh"
my_var = "Sunny"
_my_var = "Jack"
myVar = "Karthik"
MYVAR = "Shankar"
myvar2 = "Ameer"

In [21]:
2myvar = "Ganesh"
my-var = "Sunny"
my var = "Shankar"

SyntaxError: invalid syntax (<ipython-input-21-c96b1bcf3226>, line 1)

In [28]:
# 2my-first_name = "John"

In [22]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Output Variables

In [24]:
x = "Surya"
print("Python is " + x)

Python is Surya

In [25]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [26]:
x = 5
y = 10
print(x + y)

15

In [27]:
x = 40
y = "Ganesh"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python Data Types

Built-in Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Boolean Type:	bool

# Numerical data type

In [29]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [30]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [32]:
x = 35e3
y = 12E4
z = -87.7e100

In [33]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [34]:
print(y)

120000.0

In [35]:
print(x)

35000.0

In [36]:
x = 3+5j
y = 5j
z = -5j

In [37]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
#convert from int to float:
a = float(x)

In [ ]:
#convert from float to int:
b = int(y)

In [ ]:
#convert from int to complex:
c = complex(x)

In [ ]:
print(a)
print(b)
print(c)

In [38]:
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random number

In [39]:
import random

print(random.randrange(1, 10))

7

Casting

In [40]:
x = int(10)   
y = int(4.9) 
z = int("3")

In [41]:
x = float(11)    
y = float(3.9)  
z = float("3")   
w = float("3.1")

In [42]:
x = str("s1") 
y = str(20)  
z = str(4.0)

# Python String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [43]:
string1 = "Hello"
string2 = 'Hello'

Multiline Strings

In [44]:
a = """My name is Ganesh Selvaraj
I am from Chennai"""
print(a)

My name is Ganesh Selvaraj
I am from Chennai

In [47]:
a = "Hello, World!"
print(a[5])

,

Looping Through a String

In [48]:
for x in "Chennai":
  print(x)

C
h
e
n
n
a
i

String Length

In [ ]:
a = "Hello, World!"
print(len(a))

Check String

In [52]:
txt = "Hi! Chennai is an awesome city"
print("city" in txt)

True

In [53]:
txt = "Hi! Chennai is an awesome city"
print("cold" not in txt)

True

# Python - Slicing Strings

In [62]:
b = "Hi! Chennai is an awesome city"
print(b[4:9])

Cn

In [56]:
b = "Hi! Chennai is an awesome city"
print(b[:5])

Hello

In [57]:
b = "Hi! Chennai is an awesome city"
print(b[2:])

! Chennai is an awesome city

In [58]:
b = "Hi! Chennai is an awesome city"
print(b[-7:-2])

me ci

In [63]:
b = "Hi! Chennai is an awesome city"
print(b[4:9:2])

Cen

In [64]:
a = "Hi! Chennai is an awesome city"
print(a.upper())

HI! CHENNAI IS AN AWESOME CITY

In [65]:
a = "Hi! Chennai is an awesome city"
print(a.lower())

hi! chennai is an awesome city

In [66]:
a = "Hi! Chennai is an awesome city"
print(a.strip())

Hi! Chennai is an awesome city

In [68]:
a = " Hi! Chennai is an awesome city "
print(a.strip())

Hi! Chennai is an awesome city

In [69]:
a = " Hi! Chennai is an awesome city "
print(a.replace("Chennai", "Madurai"))

 Hi! Madurai is an awesome city

In [72]:
a = " Hi! Chennai is an awesome city "
print(a.split(" "))

['', 'Hi!', 'Chennai', 'is', 'an', 'awesome', 'city', '']

In [73]:
a = "Chennai"
b = " Madurai "
c = a + b
print(c)

Chennai Madurai

In [74]:
age = 25
txt = "My name is Sunny, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [75]:
age = 25
txt = "My name is Sunny, and I am {}"
print(txt.format(age))

My name is Sunny, and I am 25

In [76]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [77]:
txt = "We are the so-called \"Vikings\" from the north."

# String Methods

# Bolean operators

In [78]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [79]:
print(bool("Hello"))
print(bool(15))

True
True

In [80]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Operator	Name	Example	
+	     Addition	x + y	
-	  Subtraction	x - y	
*	 Multiplication	x * y	
/	    Division	x / y	
%	     Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

# Python Assignment Operators

Operator	Example	Same As
=	       x = 5	x = 5	
+=	      x += 3	x = x + 3	
-=	      x -= 3	x = x - 3	
*=	      x *= 3	x = x * 3	
/=	      x /= 3	x = x / 3	
%=	      x %= 3	x = x % 3	
//=	      x //= 3	x = x // 3
**=	     x **= 3	x = x ** 3	
&=	      x &= 3	x = x & 3	
|=	      x |= 3	x = x | 3	
^=	      x ^= 3	x = x ^ 3	
>>=	     x >>= 3	x = x >> 3	
<<=	     x <<= 3	x = x << 3

# Python Comparison operator

Operator	Name	                 Example	
==	       Equal	                 x == y	
!=	       Not equal	             x != y	
>	       Greater than	             x > y	
<	        Less than	             x < y	
>=	     Greater than or equal to	 x >= y	
<=	     Less than or equal to	     x <= y

# Python Logical operators

Operator	Description                          	                     Example	
and 	Returns True if both statements are true	                   x < 5 and  x < 10	
or	    Returns True if one of the statements is true	               x < 5 or x < 4	
not	    Reverse the result, returns False if the result is true	      not(x < 5 and x < 10)

# List

Lists are used to store multiple items in a single variable.

In [81]:
list1 = ["apple", "banana", "cherry"]
print(list1)

['apple', 'banana', 'cherry']

List items are ordered, changeable, and allow duplicate values.

In [82]:
list1 = ["apple", "banana", "cherry", "apple", "cherry"]
print(list1)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [83]:
list1 = ["apple", "banana", "cherry"]
print(len(list1))

3

In [84]:
list1 = ["abc", 25, True, 40, "male"]

In [85]:
print(type(list1))

<class 'list'>

In [86]:
list1 = list(("apple", "banana", "cherry"))

In [87]:
list1 = ["apple", "banana", "cherry"]
print(list1[-1])

cherry

In [88]:
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list1[2:5])

['cherry', 'orange', 'kiwi']

In [89]:
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list1[-4:-1])

['orange', 'kiwi', 'melon']

In [90]:
list1 = ["apple", "banana", "cherry"]
list1[1] = "blackcurrant"
print(list1)

['apple', 'blackcurrant', 'cherry']

In [91]:
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list1[1:3] = ["blackcurrant", "watermelon"]
print(list1)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [92]:
list1 = ["apple", "banana", "cherry"]
list1[1:2] = ["blackcurrant", "watermelon"]
print(list1)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Insert

In [93]:
list1 = ["apple", "banana", "cherry"]
list1.insert(2, "watermelon")
print(list1)

['apple', 'banana', 'watermelon', 'cherry']

In [94]:
list1 = ["apple", "banana", "cherry"]
list1.append("orange")
print(list1)

['apple', 'banana', 'cherry', 'orange']

In [95]:
list1 = ["apple", "banana", "cherry"]
list1.insert(1, "orange")
print(list1)

['apple', 'orange', 'banana', 'cherry']

In [96]:
list1 = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
list1.extend(tropical)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [97]:
list1 = ["apple", "banana", "cherry"]
list1.remove("banana")
print(list1)

['apple', 'cherry']

In [98]:
list1 = ["apple", "banana", "cherry"]
list1.pop(1)
print(list1)

['apple', 'cherry']

In [99]:
list1 = ["apple", "banana", "cherry"]
del list1[0]
print(list1)

['banana', 'cherry']

In [100]:
list1 = ["apple", "banana", "cherry"]
del list1

Looping List

In [101]:
list1 = ["apple", "banana", "cherry"]
for i in range(len(list1)):
  print(list1[i])

apple
banana
cherry

In [104]:
list1 = ["apple", "banana", "cherry"]
i = 0
while i < len(list1):
  print(list1[i])
  i = i + 1

apple
banana
cherry

List Comprehension

In [105]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

newlist = [expression for item in iterable if condition == True]

In [106]:
newlist = [x for x in fruits if x != "apple"]

In [107]:
newlist = [x.upper() for x in fruits]

In [108]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [109]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [110]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [111]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [112]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [114]:
thislist = ["apple", "banana", "cherry"]
mylist1 = thislist
print(mylist1)

['apple', 'banana', 'cherry']

In [116]:
mylist1.append('kiwi')

In [117]:
mylist1

['apple', 'banana', 'cherry', 'kiwi']

In [118]:
thislist

['apple', 'banana', 'cherry', 'kiwi']

Join two lists

In [119]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

# Tuple

In [120]:
mytuple = ("apple", "banana", "cherry")

A tuple is a collection which is ordered and unchangeable
Tuples allow duplicate values

Tuple with only one item

In [121]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [122]:
tuple1 = ("abc", 34, True, 40, "male")

In [123]:
tuple1 = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(tuple1)

('apple', 'banana', 'cherry')

In [124]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

A way to change a tuple

In [125]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Dictionaries

Dictionary items are presented in key:value pairs, and can be referred to by using the key name

In [126]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

Duplicate values will overwrite existing values:

In [127]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [128]:
print(len(thisdict))

3

Dictionary can take any data type

In [129]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

Accessing Items

In [130]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [131]:
x = thisdict.get("model")

In [132]:
x = thisdict.keys()

Adding new key

In [133]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

List of dictionary values

In [134]:
x = thisdict.values()

In [135]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

List of key value pairs

In [136]:
x = thisdict.items()

Check if Key Exists

In [137]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change values

In [138]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [139]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Removing Items

In [140]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [141]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [142]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Loop Through a Dictionary

In [147]:
for x in thisdict:
    print(x)

In [148]:
for x in thisdict:
    print(thisdict[x])

In [149]:
for x in thisdict.values():
    print(x)

In [150]:
for x in thisdict.keys():
    print(x)

In [151]:
for x, y in thisdict.items():
    print(x, y)

In [152]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [153]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionary

In [154]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Python If ... Else

In [155]:
a = 40
b = 80
if b > a:
    print("b is greater than a")

b is greater than a

Indentation

In [156]:
a = 40
b = 40
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [157]:
a = 40
b = 20
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

In [158]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [159]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [160]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Nested if

In [161]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

While Loop

In [162]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [163]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Continue Statement

In [164]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [165]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For Loop

In [166]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Looping through a string

In [167]:
for x in "banana":
  print(x)

b
a
n
a
n
a

break statement

In [168]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Continue Statement

In [169]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

Range function

In [170]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Else in For loop

In [171]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [172]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Nested For Loop

In [173]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

Creating a Function

In [174]:
def my_func():
  print("Hello from inside the function")

In [175]:
my_func()

Hello from inside the function

In [177]:
def my_func(fname):
  print(fname + " Thats the name ")

my_func("Ganesh")
my_func("Shankar")
my_func("Karthik")

Ganesh Thats the name
Shankar Thats the name
Karthik Thats the name

In [179]:
def my_func(fname, lname):
  print(fname + " " + lname)

my_func("Ganesh", "Karthik")

Ganesh Karthik

Arbitrary Arguments, *args

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Ganesh", "Harshan", "Karthik")